[2017-04-26 03:45] awesie opened #1 "Fix connecting to game server"
There is a bug in BCryptEncrypt when it is called with an authenticated cipher and no output buffer. The attached patch should fix it and allow you to connect to the Overwatch game servers.

[code]

[2017-04-26 18:38] gamax92 commented on #1
Thank you for the patch, I had zero progress on figuring out the issue myself ... I'll apply this and then work on porting up to Staging 2.6

[2017-04-27 01:41] #1 closed

[2017-04-27 02:01] gamax92 opened #2 "Game locks up randomly"
Overwatch will occasionally lock up, with these message printed to the terminal:

[code]

Seems to be an issue with a recent version of Overwatch, as all wine versions (2.3 to 2.6) experience this freezing issue (though only 2.6 is giving me a message?)

EDIT: Select 'Windows XP' in winecfg to avoid the crash. https://bugs.winehq.org/show_bug.cgi?id=42741#c37

[2017-04-28 23:58] imbavirus opened #3 "Overwatch not starting (Weird gnutls issue)"
I'm not sure if the current patches support only nvidia (I saw that somewhere) however I had Overwatch open up shortly before they introduced the new bcrypt system.  Since then I haven't gotten it to open again, I am currently using the amdgpu-pro drivers on a GCN 1.0 card (HD7950), I did try with mesa drivers aswell however on them I couldn't get anything DX11 to run. Whereas with the amdgpu-pro

[2017-04-29 02:40] gamax92 commented on #3
What distro of Linux are you trying this on?

[2017-04-29 03:00] imbavirus commented on #3
Sorry forgot to mention that, Arch Linux

[2017-05-08 13:27] wascardev opened #4 "Wine version mismatch"
I can't launch Battle.net Launcher. Tested with 2.7 and 2.6.

OS : Linux Mint 18.1

Logs :
[code]

[2017-05-08 14:32] gamax92 commented on #4
Make sure you've uninstalled any copy of wine from Linux Mint's package manager and killed any copy of wineserver that was still running.

Also ... 447 corresponds to a really old version of Wine 1.7.1 released 4 years ago.

[2017-05-08 14:47] wascardev commented on #4
I uninstalled wine package, i'ts works, thanks.

[2017-05-08 14:59] #4 closed

[2017-05-13 05:55] imbavirus commented on #3
Update: I have confirmed that this issue is not with amdgpu-pro, and probably also not with wine-overwatch, since it is confirmed that overwatch does work on amdgpu-pro.  So I just need to somehow figure out why my gnutls refuses to work properly in wine eventhough it is installed just fine, if anyone has any suggestions I could try it would be greatly appreciated

[2017-05-13 14:24] gamax92 commented on #3
I had an issue like this before when in Ubuntu it would give that "GnuTLS error: The request is invalid." error and then crash, but I can't reproduce it anymore here, sorry

[2017-05-13 14:26] zekesonxx commented on #3
@imbavirus did you compile wine-overwatch yourself, or download someone's precompiled copy?

[2017-05-13 14:56] imbavirus commented on #3
@zekesonxx @gamax92  I have tried both with my own compiled version(cloned directly from here) aswell as the lutris precompiled version, on both overwatch-2.6 and overwatch-2.7, in all these cases I get the gnutls error, I just get an additional spam of:

when using my self-compiled version

I also tried compiling with --without-gnutls judging by this commit: [5fd4404](https://bitbucket.org/awesie

[2017-05-13 15:03] gamax92 commented on #3
Yeah you have to compile with gnutls support, that's what makes bcrypt actually do anything.

I don't know why it used to work without any bcrypt patches as awesie's old repo used to have only stubs, but it requires them now

[2017-05-13 15:06] imbavirus commented on #3
Yea I compiled with and without gnutls support, thats just the difference in errors I got between them

[2017-05-17 18:10] RekkyRek opened #5 "Can't Install Overwatch. "A 64-bit operating system is required.""
## My system information
OS: elementary OS 0.4 Loki
Wine: "wine-2.8 (Staging)" (from make install)
CPU: Intel® Core™ i7-4790K CPU @ 4.00GHz × 8
RAM: 16GB
GPU: Asus Strix GTX 1080

## Wine Console Log
[Pastebin of Log](https://pastebin.com/W01jN7Jt)

## Issue walkthrough
I followed the instructions on how to install wine-overwatch then tried installing Overwatch via the Overwatch installer you can

[2017-05-17 18:27] gamax92 commented on #5
What instructions did you use for building wine?

[2017-05-17 18:54] RekkyRek commented on #5
@gamax92 [https://github.com/gamax92/wine-overwatch/blob/overwatch-2.7/README](https://github.com/gamax92/wine-overwatch/blob/overwatch-2.7/README)

[2017-05-17 19:20] zekesonxx commented on #5
That builds a 32 bit wine. You need to build a multiarch wine.
https://wiki.winehq.org/Building_Wine#Shared_WoW64

On May 17, 2017 2:54 PM, "RekkyRek" <notifications@github.com> wrote:

[2017-05-17 19:26] RekkyRek commented on #5
@zekesonxx alright. Will try that tomorrow 👍

[2017-05-18 02:46] alexandrebouthinon commented on #5
@zekesonxx Hi, same issue for me. I compile Wine using the doc https://github.com/gamax92/wine-overwatch/blob/overwatch-2.7/README but I've a question...
Will the installation script work ? I mean the "install" option in the Makefile

[2017-05-18 07:11] zekesonxx commented on #5
@alexandrebouthinon again, the install instructions in the README build a 32-bit Wine, not the multiarch Wine you need.

https://wiki.winehq.org/Building_Wine#Shared_WoW64

Instructions:

1. Download the repo somewhere. I'll refer to it as `$wineoverwatchsrc`
2. Make three directories somewhere, which I'll refer to as `$wine32-build`, `$wine64-build`, and `$wine-install`
3. I'd recommend building

[2017-05-18 07:13] zekesonxx commented on #3
Because Overwatch 1.9 came out and changed shit.

[2017-05-18 07:37] alexandrebouthinon commented on #5
@zekesonxx Thanks for this tutorial. I forgot the third directory. I'll try this today :)

[2017-05-18 13:08] sigzegv opened #6 "Game Initialization Failed with 2.8 branch"
Launching Overwatch with the 2.8 branch fails to start the game, returning a "Game Initialization Failed" error dialog. Battlenet works correctly.

The game runs fine with previous 2.7 branch.

My system is archlinux.

[2017-05-18 14:57] fundies opened #7 "No compatible graphics hardware found."
http://i.imgur.com/4xeim38.png

4.10.13-1-ARCH
04:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Ellesmere [Radeon RX 470/480] (rev c7)

extra/xf86-video-amdgpu 1.3.0-1 (xorg-drivers) [installed]
extra/xorg-server 1.19.3-2 (xorg) [installed]

[2017-05-18 15:13] imbavirus commented on #7
Overwatch does not work with the opensource mesa drivers, you need to install the amdgpu-pro driver to fix this issue

[2017-05-18 15:16] fundies commented on #7
unfortunately that really isn't possible on current archlinux :(

[2017-05-18 15:24] imbavirus commented on #7
I am running amdgpu-pro on the current latest version of arch, you simply add the xorg118 repo to your pacman.conf, underneath [core] and then you run pacman -Syuu to get xorg118, also you dont need libglvnd since amdgpu-pro provides libgl and all those libraries.  There were some additional things I had to install and file conflicts I had to overcome, however it does most certainly work, even on

[2017-05-18 16:34] gamax92 commented on #6
The 2.8 branch isn't fnished ...

[2017-05-18 16:34] #6 closed

[2017-05-18 16:37] gamax92 commented on #5
Ack. I'll change that soon, wine's default README is fairly misleading for Overwatch.

[2017-05-18 21:07] gamax92 opened #8 "Flat Interpolation patches no longer apply to Wine 2.8 code"
There are three patches from the original wine-overwatch repository that due to changes in 2.8 no longer apply properly. All my attempts to rewrite them for 2.8 have resulted in glitchy black pixels or a black screen with massive GL errors being spammed to the console.

The current overwatch-2.8 branch does not have the patches applied.

These three original patches are:

https://bitbucket.org/awe

[2017-05-19 01:26] gamax92 commented on #8
I've gotten to the point where text is rendering and the world isn't a splotchy mess, but several reflective surfaces now flicker heavily. I've confirmed that without the patch, these surfaces do not flicker, so there isn't any regression in wine 2.8 or staging itself.

A good testing reference is the Oasis Gardens map, where the entire ceiling is a reflective surface.

My progress in this issue c

[2017-05-19 05:14] awesie commented on #8
Here (https://gist.github.com/awesie/8f12c11e278f05073a8906a9d1b4f23b) is a patch that should fix the flat interpolation support. It is against your overwatch-2.8 branch.

I tested that it works with Overwatch without any obvious graphical glitches. I haven't tested to make sure it doesn't break anything else though.

Something to keep in mind with this code is that we want the output of a vertex

[2017-05-19 06:21] gamax92 commented on #8
Ahh right, I can see what I did wrong regarding handling rasterizer_setup properly, and also why gs_in was made an array in the old patches. Thank you again for the fixes, I'll use this in the 2.8 branch.

[2017-05-19 06:21] #8 closed

[2017-05-19 07:01] gamax92 commented on #2
I'm no longer able to reproduce this issue using the method I have in my notes, multiple games will play just fine without locking up, so I'll close this issue for now.

[2017-05-19 11:01] renyuneyun commented on #7
Same issue with Intel HD 5500.

[2017-05-19 11:57] imbavirus commented on #7
Yes, since intel does not have any proprietary driver and only uses the mesa opensource drivers, it also does not have the compatibility profiles to support directX 11, you can always run:

before starting overwatch, and it will open, but you'll be greeted by a black screen due to the missing compatibility profiles

[2017-05-20 20:41] gamax92 commented on #3
Good/Bad news, I'm randomly getting this error in Ubuntu again.

@imbavirus can you try to launch overwatch with the environment variable of `GNUTLS_DEBUG_LEVEL=99`

For reference, my own output is this:
[code]

[2017-05-20 22:07] gamax92 commented on #3
Some more information: wine's bcrypt tries using gnutls's AES-128-CBC cipher.
This cipher has a keysize of 16, but Overwatch/bcrypt is giving it 32 bytes of data.

[2017-05-20 22:31] zekesonxx commented on #3
@gamax92 with no real understanding of winapi or crypto APIs but after reading msdn for several minutes and trying to read the Wine bcrypt code:

The [algorithm identifier](https://msdn.microsoft.com/en-us/library/windows/desktop/aa375534\(v=vs.85\).aspx) for AES doesn't specify keysize. The program is expecting bcrypt to automatically switch to AES-256-CBC given the bigger key.

Looking at the so

[2017-05-20 22:51] gamax92 commented on #3
Welp, I see, awesie's commit for fixing BCryptEncrypt also has a change to the get_gnutls_cipher function to handle the block size, I'll throw that in this repo now.

[2017-05-20 23:19] #3 closed

[2017-05-22 01:36] Amblypygid opened #9 "Game Initialization Failed"
I have had a lot of troubles compiling multiarch wine from source in the past, and I finally did it today.
However, I have one problem: when I run overwatch, it says "Game Initialization Failed." I have tried this under XP, 7, 10.

These are the packages that the 64bit configure says I'm missing
configure: libhal 64-bit development files not found, no legacy dynamic device support.
configure: gstr

[2017-05-22 01:37] Amblypygid commented on #9
I'm on OpenSUSE Leap 42.2, if that's important.

[2017-05-22 17:16] gamax92 commented on #9
It sounds like the wrong copy of wine is being ran, you'll get this error with an unpatched wine.
Make sure the one you're running is the wine64 built from this repo.

Also, for reference what instructions did you use for building wine in OpenSUSE?

[2017-05-22 21:21] Amblypygid commented on #9
I used the instructions near the bottom of [this post](https://github.com/gamax92/wine-overwatch/issues/5). I have tried running the overwatch executable (bot the launcher and the game itself) with the wine and wine64 executables build from this repo. I gave them a directory to be installed to, so as not to touch my root partition: /home/blah/blah/blah/wine-build/wine-install
Is there something sp

[2017-05-23 00:24] Amblypygid commented on #9
Hm. I tried cleaning out my wine prefix and trying again. Didn't work.

[2017-05-23 00:31] Amblypygid commented on #9
unless I said "wine64 ~/Downloads/Overwatch-Setup.exe" rather than "./wine64 ~/Downloads/Overwatch-Setup.exe"... trying again, making sure to use the right wine.

[2017-05-23 00:56] Amblypygid commented on #9
Okay, That didn't help. But I've noticed that I've got a wine version mismatch error, even when this repo is the only wine on my system. I believe it is 532/528. I'm really not sure what's going on here.

[2017-05-23 20:42] fundies commented on #7
I managed to get amdgpu-pro installed but now I get configure: WARNING: No OpenGL library found on this system. when trying to build :/

[greg@greg-desktop wine-overwatch]$ glxinfo | grep version
server glx version string: 1.4
client glx version string: 1.4
GLX version: 1.4
OpenGL core profile version string: 4.5.13474 Core Profile Context 17.10.2
OpenGL core profile shading language version strin

[2017-05-23 20:46] imbavirus commented on #7
@fundies  this should fix that for you:

[2017-05-23 21:35] fundies commented on #7
now it says I need 64bit OS to install overwatch...

[2017-05-23 21:38] imbavirus commented on #7
Make sure you compiled wine for 64 bit and that you are using a 64 bit prefix.
Refer to: https://github.com/gamax92/wine-overwatch/issues/5

[2017-05-23 22:35] fundies commented on #7
well I got it running but its damn slow. 30fps max if nothing is going on (im on on low 720p window with 50% render size) Also my gold guns are invisible XD

[2017-05-23 22:52] imbavirus commented on #7
Yea performance is still quite a mystery for some, where some systems run it great at 60fps (also on low though) and some people barely manage like 12fps, if that much.... however you might want to look at https://lutris.net/games/overwatch/ and see if there are any additional settings/registry keys that Djazz applied that might help you improve the performance

[2017-05-24 20:11] Amblypygid commented on #9
Okay, I've rebuilt it all from scratch, and I'm getting the error: /usr/local/bin/wine: error while loading shared libraries: libwine.so.1: wrong ELF class: ELFCLASS64

Any ideas?

[2017-05-30 14:30] OdnetninI opened #10 "2.9 Doesn't Boot"
I have a build with wine-overwatch 2.4 and I can ran Overwatch without problem throught battlenet, but, with wine-overwatch 2.9 I press Play, process Overwatch appears, and it dissapears without any log.

[2017-05-30 15:50] zekesonxx commented on #10
obligatory: try launching `Overwatch.exe` directly and see what happens.

[2017-05-30 16:28] OdnetninI commented on #10
It never runs, terminal output is infinite, so I attach a piece of output.

[error2.txt](https://github.com/gamax92/wine-overwatch/files/1039013/error2.txt)

[2017-05-30 17:48] zekesonxx commented on #10
Just compiled and tested 2.9, and I'm not reproducing your issue.

Try testing 2.8 and see if it works.

[2017-05-30 18:30] OdnetninI commented on #10
Exact same result

[2017-05-30 21:35] alexandrebouthinon commented on #10
Hi,
Same issue for me. This is terminal output : ``fixme:thread:create_user_shared_data_thread Creating user shared data update thread.
fixme:heap:RtlSetHeapInformation 0x29f0000 0 0x21bc00 4 stub
fixme:module:load_library unsupported flag(s) used (flags: 0x00000800)
fixme:module:load_library unsupported flag(s) used (flags: 0x00000800)
fixme:module:load_library unsupported flag(s) used (flags: 0x

[2017-05-30 22:38] zekesonxx commented on #10
From Andrew Wesie's notes in [`OVERWATCH`](https://github.com/gamax92/wine-overwatch/blob/overwatch-2.9/OVERWATCH):

[code]

So, try that, and see where that gets you.

[2017-05-31 06:41] OdnetninI commented on #10
"./wine64 wineboot --update" doesnt work
"./wine wineboot --update" doesnt work
"cp dlls/ntdll/ntdll.dll.fake" works, but I can only run Overwatch.exe directly, with 2.4 I can ran throught Battle.net

[2017-06-02 10:14] Paktosan commented on #9
Can you be so kind to try this repository for me? http://download.opensuse.org/repositories/home:/Paktosan:/branches:/Emulators:/Wine/openSUSE_Leap_42.2/
This is my version of it but built with the SUSE specific stuff AND the overwatch patches. However it still is at version 2.7, I am gonna try to update it later today.

[2017-06-02 15:54] Paktosan commented on #9
Ok, for openSUSE 42.2 you have to add the following two repositories:
1. http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_42.2/
2. http://download.opensuse.org/repositories/home:/Paktosan/openSUSE_Leap_42.2/
Also the second repository must have a higher priority than all other repositorys that contain anything wine related. You can then simply install wine via yast or zypper

[2017-06-02 16:03] Paktosan opened #11 "view moves up constantly"
OS: openSUSE Leap 42.2
Wine version: 2.9
Overwatch version: 1.11.1.2.36923
Game works fine so far however the view is constantly moving up.

[2017-06-02 23:45] Amblypygid commented on #9
Right, I'm home from work now. Let me give this a try. *cracks knuckles* :D

[2017-06-03 02:23] Amblypygid commented on #9
It works nicely (or as nicely as can be expected!). Thanks, James and Julian! I'll have an increasing amount of fun as the development of DX11 in wine progresses. Cheers!

[2017-06-03 03:51] zekesonxx commented on #11
Do you have a game controller plugged in that's being detected by Wine? That's the usual cause of issues like this.

Run `wine control` in the prefix and see if it's detecting any game controllers.

[2017-06-03 05:08] gamax92 commented on #9
@Paktosan for reference, how did you go about building this for openSUSE, anything special needed?

[2017-06-03 06:42] imbavirus commented on #11
Make sure your aspect ratio and resolution are set correctly to match your screen

[2017-06-03 08:55] Paktosan commented on #9
@gamax92 I used the openSUSE Build Service and just copied the configuration from the official wine build. You can see the source here: https://build.opensuse.org/package/show/home:Paktosan/wine-overwatch
Building locally is possible by using the osc tool which then uses a container to isolate the build environment. In theory the build service could also build for other distributions but the curre

[2017-06-03 09:23] Paktosan commented on #11
Wine does not show any controllers which  makes sense since none are plugged in. My display is a Dell P2213 1680x1050 16:10 monitor. I now noticed that Overwatch was set to 16:9. I fixed that. Did not know that this was possible since I remember not having that option under Windows.

[2017-06-03 09:23] #11 closed

[2017-06-06 18:59] Riokei opened #12 "Random frame drops"
Was testing with the new lutris installer for this (which is using 2.9) and noticed random frame drops in the tutorial, otherwise it stayed at 60FPS is this a settings issue or a wine issue?

[2017-06-06 19:48] gamax92 commented on #12
It's just a wine issue, unless you have a super beefy fast computer don't expect this to run fast right now.

[2017-06-06 19:48] #12 closed

[2017-06-07 03:41] zekesonxx commented on #12
Wine's D3D11 is largely unoptimized and heavily CPU bound; this in comparison to Wine D3D9, which is basically feature complete and optimized to the point of running some older games *better* than Windows can.

@Riokei some general performance recommendations:
* CSMT on
* All graphics settings on lowest and work up from there
  * Textures higher than `Low` will randomly be black instead of the nee

[2017-06-11 04:19] zekesonxx commented on #10
Are either one / both of you using GCC 7 or newer? GCC7 [exposed an issue in Wine](https://bugs.winehq.org/show_bug.cgi?id=43127) that causes Wine to stack overflow on 64-bit applications.

The patch to fix it is [here](https://github.com/wine-mirror/wine/commit/d2ec61105d47543ae5bddf393d384b5165795ab5#diff-46ea01b368df413397abde61e661e262), and is present in mainline 2.10 but not 2.9. Staging 2.1

[2017-06-11 06:34] OdnetninI commented on #10
Yes. I'm using GCC 7, I will try again in 2.10, and see how this patch works.

[2017-06-12 15:32] Allyriadil opened #14 "Stutter on texture load"
Whenever the game loads a texture or animation it stutters. However once its loaded it doesnt happen again usually after 10 minutes of stuttering the game runs smoothly because they are cached.

Specs : Intel 6700k @ 4.2GHZ
GPU : Nvidia GTX 1080
RAM : 16 GB

Wine prefix is running in 64 bit mode with CSMT enabled.

[2017-06-13 00:36] zekesonxx commented on #14
I mean, I'm pretty sure @awesie is the only person involved with this repo who actually understands graphics programming.

There's also a lot going on with Wine, D3D11, and Overwatch in terms of performance. Wine D3D11 doesn't really run great anywhere, or with anything. Blizzard's insane optimization of Overwatch is probably the only reason it's playable through Wine without needing a $2k compute

[2017-06-20 18:38] ZahnPastor opened #15 "Overwatch update from 20170620 won't start anymore"
wine tells me it's an error when executing, it shuts down right after giving this message `err:seh:setup_exception stack overflow 1568 bytes in thread 00d2 eip 000000007bc9f0c4 esp 0000000000130ff0 stack 0x130000-0x131000-0x230000`

[2017-06-20 19:55] lelurch commented on #15
Seems to be the bug which was fixed in wine 2.10: https://bugs.winehq.org/show_bug.cgi?id=43127
Updating the repo to wine 2.10 should fix it.

[2017-06-21 07:59] zekesonxx commented on #15
I backported the patch for that bug in #13. This appears to be a different issue.

I'm using Overwatch 1.12.0.2.37456.
wine-ow 2.8, wine-ow 2.9 compiled with gcc6, and wine-ow 2.9 with gcc7 all result in the same error.

[2017-06-21 08:02] zekesonxx commented on #15
Using `WINEDEBUG=+relay,-debug` shows `KERNEL32.GetVolumeInformationW` as the last call before crashing, but I don't know how relevant that function actually is.

paging @awesie since he was the author of the original OW fork but doesn't follow this repo.

[2017-06-21 20:13] zekesonxx commented on #15
Just manually applied the Overwatch patches to staging 2.10. An older version of Overwatch works (well, it gets to the login screen at least), but the current version doesn't. So 2.10 didn't magically fix everything. :(.

Going to continue trying to figure this out.

[2017-06-21 23:36] zekesonxx commented on #15
Actually, maybe GetVolumeInformationW isn't just some random thing.

My older copy of Overwatch only ever calls `KERNEL32.GetVolumeInformationA`.

[2017-06-22 03:19] gamax92 commented on #15
I'll take a look at this myself, I apparently forgot to upload the 2.10 port (was a busy week then) so that'll be up soon in a couple of hours

[2017-06-22 20:45] gamax92 commented on #15
@zekesonxx can you get a log and compress it with the old copy of Overwatch using `WINEDEBUG=+seh,+tid`

Also if you have a place that's a bit more realtime like IRC or Discord, would prefer to not fill up the issue tracker

[2017-06-22 21:25] zekesonxx commented on #15
freenode #wine-overwatch

[2017-06-23 05:47] zekesonxx commented on #15
Overwatch 1.12.0.2.37636 released (the Highlight update thingy). No change, same behavior as before.

[2017-06-23 06:38] awesie commented on #15
Wine is missing LdrRegisterDllNotification (https://msdn.microsoft.com/en-us/library/dd347461(v=vs.85).aspx), which Overwatch is trying to use.

[2017-06-23 07:43] awesie commented on #15
The only other is was missing GetWindowDisplayAffinity / SetWindowDisplayAffinity. The patch below should fix the issue.

[code]

[2017-06-23 09:05] zekesonxx commented on #15
Tested. It works.

![patrick-iloveow](https://user-images.githubusercontent.com/965509/27474134-5e23ae9c-57cf-11e7-94ec-b6c44b576067.jpg "(I killed time editing this while waiting for Wine to compile)")

---

Wouldn't the "correct"/non-stub implementations for `(Get|Set)WindowDisplayAffinity` just be storing the set flag on a property of the window handle? Followed by not actually doing anything w

[2017-06-23 09:46] awesie commented on #15
You are probably right about that. My immediate goal was just figuring how to make Overwatch stop crashing. Overwatch's imports are loaded by its unpacker, so when an import is missing it will crash the process. In this particular case, having the export is sufficient, but upstream would want a real implementation.

[2017-06-23 20:41] Nyamiou commented on #15
Thank you all to your amazing work, I can also confirm that the game is starting again. Howether, it's seems to be crashing a lot more than before, it's hard to say if it's related to the new version of the game, the new Wine Staging version or someting else. Am I the only one experiencing much more crashes?

[2017-06-23 21:01] zekesonxx commented on #15
@Nyamiou I'm not experiencing any more crashes than before. What are your specs?

Also, settings that need to be set: Wine set to WinXP, CSMT on, killcams off, textures on Low.

Disabling all Wine debug logging is recommended since Overwatch sure causes a lot of it, and it does actually impact performance. `WINEDEBUG=fixme-all,-all` should completely silence it (of course, if you're trying to debu

[2017-06-23 21:42] Nyamiou commented on #15
Ok I just reinstalled and I forgot about the WINEDEBUG, also I though it was Win7 recommended, with WINEDEBUG and WinXP the game is much more stable. Thank you :-)

[2017-06-23 23:05] zekesonxx commented on #15
@Nyamiou yeah running Wine in Win7 mode can cause crashes courtesy of the audio engine.

[2017-06-26 00:14] Madsy commented on #15
@zekesonxx With CSMT enabled, the first match works fine, then on the second match I get only black textures/geometry (sprites/overlay shows up). Does that happen to you at all? I'm running Overwatch with all the settings set to low and without multisampling.

I seem to get a lot worse performance with 2.10-staging than 2.9-staging. I'm running Ubuntu 16.10 with nvidia-367, Nvidia Geforce 1060, 16

[2017-06-26 04:19] zekesonxx commented on #15
@Madsy You sure about that? Because selecting the "Low" overall option still has Textures on High, which is the only known cause of the black textures.

[2017-06-26 05:28] zekesonxx opened #16 "Setting up the wiki"
I'd like to propose we set the GitHub wiki for this repo up and use it to store information. Since it's not part of the repo, it transcends any main git repo branches or commits and makes it a lot easier to store info.

Things I can see putting in it:

* Build instructions
* Setup instructions (including settings to set in winecfg/in-game)
* Known issues and, if known, fixes
* Link to the freenode

[2017-06-26 20:54] Madsy commented on #15
@zekesonxx Yes, 100% positive. Everything is set low or off. I take it from your answer that CSMT works fine on your setup? I might upgrade to Ubuntu 17 soon and try more recent nvidia drivers then.

[2017-06-26 23:57] zekesonxx commented on #15
@Madsy CSMT works fine for me. My best guess would be the outdated Nvidia drivers, but I'm not really sure.

[2017-06-28 03:01] zekesonxx commented on #15
@Madsy can you open a separate issue on this? And include a screenshot or two please.

@ZahnPastor or @gamax92 1.12 works now so please close this issue before it gets derailed a third time

[2017-06-28 03:14] zekesonxx commented on #10
@OdnetninI 2.10 has been out for a while. Can you check if your issue has been resolved?

[2017-06-28 07:54] OdnetninI commented on #10
@zekesonxx Sorry, I was busy, I'm downloading it.

[2017-06-28 08:50] OdnetninI commented on #10
Confirmed, is Fixed

![captura de pantalla de 2017-06-28 10-49-46](https://user-images.githubusercontent.com/1885102/27628534-a34b81ec-5bef-11e7-9a96-715c1aa73965.png)

[2017-06-28 08:50] #10 closed

[2017-06-28 12:52] zekesonxx commented on #10
\o/

[2017-06-28 17:07] #15 closed

[2017-07-02 10:25] Paktosan commented on #16
I also think this would be quite useful because we also could store links to prebuilt repositories there and how to use them.

[2017-07-03 03:29] sambow23 commented on #2
with Wine version 2.11 and 2.10, I get random crashes or permanent freezes in-game.

[2017-07-03 03:31] sambow23 commented on #2
Terminal Output when the game crashed: fixme:system:SystemParametersInfoW Unknown action: 116
fixme:msvcp:_Mtx_init_in_situ unknown flags ignored: 2
fixme:msvcp:_Mtx_init_in_situ unknown flags ignored: 2
fixme:msvcp:_Mtx_init_in_situ unknown flags ignored: 2
fixme:wtsapi:WTSUnRegisterSessionNotification Stub 0x60060
fixme:msvcp:_Mtx_init_in_situ unknown flags ignored: 2
fixme:win:UnregisterDeviceN

[2017-07-03 04:26] zekesonxx commented on #2
@sambow23 What Windows version is Wine set to?

[2017-07-03 15:29] gamax92 commented on #2
Please do not randomly post things where they do not belong, you issue is not related to this issue report, create a new issue on github.

[2017-07-03 15:40] gamax92 commented on #5
@RekkyRek @alexandrebouthinon Have you two been able to build this repository correctly? Would like to close this issue.

[2017-07-03 15:41] #7 closed

[2017-07-03 20:18] IRedFoxI commented on #11
My screen is a 4:3 ratio, which I can't select in the game. So my view is scrolling up all the time, making the game unplayable under linux.

[2017-07-03 23:53] zekesonxx commented on #11
Overwatch doesn't support 4:3 aspect ratios, even on Windows. This is
outside the scope of wine-overwatch.

On Jul 3, 2017 4:18 PM, "IRedFoxI" <notifications@github.com> wrote:

My screen is a 4:3 ratio, which I can't select in the game. So my view is
scrolling up all the time, making the game unplayable under linux.

—
You are receiving this because you commented.

Reply to this email directly, v

[2017-07-06 15:31] RekkyRek commented on #5
@gamax92 nope. I just gave up and dual booted windows :/  If anyone would like to make a video explaining in detail how to build it and install overwatch correctly, that would be great. I found a tutorial for building it but not installing it, when i tried to it didn't work, same as in original post :/

[2017-07-06 15:54] zekesonxx commented on #5
@RekkyRek Lutris offers a [precompiled version](https://lutris.net/games/overwatch) of wine-ow, if you're having issues compiling.

Doing a multilib compile on Ubuntu (and friends) seems to be needlessly complicated.

[2017-07-07 17:28] zekesonxx opened #17 "Overwatch PTR doesn't work"
Ends with the lines:

[code]
Log with `WINEDEBUG=fixme-dxgi,fixme-d3d_shader`: [ptr.log.gz](https://github.com/gamax92/wine-overwatch/files/1131808/ptr.log.gz); although it doesn't look very helpful to me.

[2017-07-07 17:35] zekesonxx commented on #17
Appears to be class CLRDebugging:

* [clrmd src/Microsoft.Diagnostics.Runtime/ICorDebug/ICorDebugHelpers.cs](https://github.com/Microsoft/clrmd/blob/master/src/Microsoft.Diagnostics.Runtime/ICorDebug/ICorDebugHelpers.cs#L16)
* [coreclr src/inc/metahost.idl](https://github.com/dotnet/coreclr/blob/master/src/inc/metahost.idl#L69)

[2017-07-07 17:43] gamax92 commented on #17
Personally every PTR has never launched for me, only the live builds, but I'll look into this.

[2017-07-07 17:51] zekesonxx commented on #17
This is the first PTR I've ever bothered to download (Doomfist and what have you) so I don't have any previous PTR versions to compare to.

It seems likely that this is because Blizzard probably makes the PTR builds more debugger-friendly (useful crash reports and what have you), so at the very least this hopefully won't affect 1.13 when it goes live.

[2017-07-07 18:32] zekesonxx commented on #17
Digging through the Wine code, this doesn't look like it would be too easy to just stub/shim in.

[2017-07-09 17:48] IRedFoxI commented on #11
I don't know what you meant by writing it doesn't support it, but I can say that it _is_ playable under windows.

[2017-07-09 17:57] gamax92 commented on #11
We don't know *why* the view moves when the actual resolution and aspect ratio setting don't match, but we do know making sure they match avoids the issue.

As @zekesonxx stated, there is no 4:3 option available in the Overwatch settings so you will have to choose a different resolution if possible.

[2017-07-09 19:13] zekesonxx commented on #11
@IRedFoxI If you were playing letterboxed on Windows, you might try playing in a window on Linux.

[2017-07-09 19:22] zekesonxx commented on #17
PTR update to 1.13.0.0.38044, sort of works? No longer hangs on a black screen, I can login, but it can't successfully connect to a server.

[2017-07-09 19:27] zekesonxx commented on #17
So, here's a new one for you.

It works, but only launching *through bnet* (with the autologin). Launching it directly *doesn't* work.

[2017-07-10 05:31] gstark31897 opened #19 "Bastion's Gun has Lighting Issues"
Sometimes bastion's gun has this weird lighting effect. I've only had the issue with bastion, settings are all low except for dynamic reflections and aa are off. It happens on a few maps (happens a lot on the moon base I just attached one of the examples). Not a huge issue or even a big distraction, just documenting it if you're going for perfect rendering accuracy.

http://i.imgur.com/1LYxIpv.png

[2017-07-10 19:32] zekesonxx commented on #19
I'm able to reproduce the issue, so there's another bug to test with future Wine/OW versions.

As a temporary workaround, you can powerlevel through competitive and equip the golden gun for Bastion. Then it won't render at all, correctly or incorrectly...

---
wine-ow (and Wine D3D11 in general) is very far from "perfect rendering accuracy", there's still a number of major bugs (like Mei's ice wal

[2017-07-11 06:00] gamax92 opened #20 "Blur effect shader sometimes fails to compile"
Sometimes when you hit Escape to bring up the menu, instead of blurring everything the entire screen tints blue/purple, looking in the logs one can find the following bad shader and error messages:

https://gist.github.com/gamax92/bb7ff4d3f15bb8b63b5d9a2307200c63

`GL_MAX_DUAL_SOURCE_DRAW_BUFFERS_EXT` only returns 1 and hence only `ps_out_0` and `ps_out_1` are created, yet this shader attempts to

[2017-07-12 04:43] zekesonxx commented on #17
Closing since the cause of the crash on 1.13.0.0.37962 is known and the current PTR works.

[2017-07-13 04:49] zekesonxx commented on #16
@gamax92 I'm happy to write it, but I can't do that unless you make it usable.

[2017-07-13 17:29] zekesonxx commented on #16
Initial version written: https://github.com/gamax92/wine-overwatch/wiki

[2017-07-13 17:47] zekesonxx commented on #17
PTR 1.13.0.0.38125, same issue. Blizzard can't seem to decide if they want the class or not..

[2017-07-13 18:10] Paktosan commented on #16
I would also like to add information on how to use the packaged version for openSUSE.

[2017-07-13 19:23] zekesonxx commented on #16
@Paktosan what packaged version for openSUSE?

[2017-07-13 19:31] Paktosan commented on #16
See https://github.com/gamax92/wine-overwatch/issues/9 for short instructions, but I can also write that a bit more detailed if you want.

[2017-07-14 00:45] gamax92 commented on #17
Considering the mscoree fixme is after OW's Assertion failed message, it very likely has nothing to do with the actual problem.

And yeah, looking back through my logs, this specific `0xE696C954(1544) : Assertion failed: 0xCA2A37BA  "0x811C9DC5"` message is the same one every PTR before has given. Consider 37962 to be a rare case.

[2017-07-14 02:11] zekesonxx commented on #17
Yeah that makes sense, it's probably trying to open CLRDebugging to build a crash report or something.

[2017-07-14 03:14] gamax92 commented on #17
So, wine's winsock2 setsockopt doesn't support `SO_RANDOMIZE_PORT` and infact include/winsock.h is missing a definition for `SO_RANDOMIZE_PORT`, so it ends up setting an error of `WSAENOPROTOOPT` and returning `SOCKET_ERROR`

I threw in a hacky check for `SO_RANDOMIZE_PORT` and made it return 0, and the PTR starts up.

[2017-07-14 03:55] gamax92 commented on #17
closed by 0f27126df53274197479cb66112067adb7445378

Note that you still have to connect through Battle.net, running the PTR exe directly still doesn't connect.

[2017-07-14 03:55] #17 closed

[2017-07-14 21:23] zekesonxx commented on #20
Do you have any way you know triggers it? Because I've literally *never* had this happen.

[2017-07-14 22:31] gamax92 commented on #20
I ... can't reproduce the issue any more :/ was going to get a screenshot of it.
It used to be that I could just go to Horizon, defender's spawn, stand in the middle of the room and hit escape. Eichenwalde's hero selection screen would also break and go completely purple

Oh well.

[2017-07-14 22:39] gstark31897 commented on #20
I might actually be able to reproduce this (only happens on the main menu though where the background tints blue/purple). (Ill attach a screenshot if I can get it to happen)

[2017-07-15 02:30] gstark31897 commented on #20
![screenshot_20170714_211738](https://user-images.githubusercontent.com/3507130/28235807-76835434-68db-11e7-9dee-36138632ef06.png)
Is this similar to the effect you're describing?

[2017-07-15 03:40] gstark31897 commented on #20
![screenshot_20170714_222710](https://user-images.githubusercontent.com/3507130/28236204-59930a5e-68e5-11e7-8bd7-bd325bfcc2df.png)

[2017-07-15 04:19] zekesonxx commented on #20
@gstark31897 now that I've had happen tons of times.

I don't think this is what @gamax92 is referring to. If it's *not*, open a separate issue for that, because I'd love to track it down and fix it.

[2017-07-15 04:21] gamax92 commented on #20
Yeah, that's what I was referring

[2017-07-15 04:43] gstark31897 commented on #20
Yup, it happens pretty irregularly, but I get git it to happen within about 10-20 tries opening the game on the main menu. I've got a gtx 970 with the nvidia-dkms driver.

If you can't get it to happen locally, I'd be happy to  provide error logs or build/test code changes.

[2017-07-15 05:04] zekesonxx commented on #20
So I have no idea how to read shader code (or even how shaders work) but I think we need a correctly compiled version to compare against.

[2017-07-15 05:21] gstark31897 commented on #20
It'd take some digging, but wine certainly has calls for compiling shaders at some point (I haven't personally looked through much of the code). We could probably add a debug statement to them to dump the binary shader that they produce, then see if it's actually something higher up that's causing it or if the binary is actually different when it bugs out.

[2017-07-15 05:28] awesie commented on #20
My bet is that the code to determine whether to use dual-source blending or not for a particular shader might be wrong.

[2017-07-15 05:35] gamax92 commented on #20
@awesie you're probably right, did a dump of every shader made to a file and there's a shader identical to the one failing except that it didn't try to use dual-source blending for it.

[2017-07-16 02:30] zekesonxx commented on #20
I think this might possibly be Overwatch's fault, at least partially.

The offending code is [right here](https://github.com/gamax92/wine-overwatch/blob/299018de8b10998f5ac47f1ae17a8961fe469fc9/dlls/wined3d/wined3d_private.h#L3814):

    #define IS_DUAL_SOURCE_BLEND(x) ((x) >= WINED3D_BLEND_SRC1COLOR && (x) <= WINED3D_BLEND_INVSRC1ALPHA)

What *is* Overwatch setting DestBlend to when it's correct

[2017-07-16 03:43] gamax92 commented on #20
Well, assuming those render states are of a `wined3d_blend` enum:

[code]

[2017-07-16 04:44] zekesonxx commented on #20
... why is Overwatch using two dramatically different shader blend modes with the same shader?

@gamax92 not to doubt you but are you sure they're actually the same shader?

Alternatively, is Wine translating two different shaders into the "same" shader? Or trying to use new settings intended for a new shader with the previous one?

[2017-07-16 04:57] awesie commented on #20
I was trying to look up what those blend states actually do if alpha blend enable is false. I think maybe IS_DUAL_SOURCE_BLEND should always return false if WINED3D_RS_ALPHABLENDENABLE is false?

[2017-07-16 05:07] zekesonxx commented on #20
Also, msdn is really unclear:

"supports"? Does that mean it *has* to be DSCB? Or is it just an option?

[2017-07-16 05:22] zekesonxx commented on #20
@awesie well I mean you're the one who implemented it, so you're the most likely to know the answer.

[2017-07-16 14:46] gamax92 commented on #20
Makes sense, dx9's field was called `D3DRS_ALPHABLENDENABLE` hence `WINED3D_RS_ALPHABLENDENABLE`

dx10 and dx11 have `BlendEnable` in their `BLEND_DESC` though which ends up being assigned `WINED3D_RS_ALPHABLENDENABLE`, hence the odd misleading naming

https://msdn.microsoft.com/en-us/library/windows/desktop/ff476200(v=vs.85).aspx

Seems here that `BlendEnable` will enable/disable the usage of all

[2017-07-16 15:16] zekesonxx commented on #20
if that works perhaps the field should be renamed to something like `WINED3D_RS_BLENDENABLE`.

[2017-07-16 23:55] zekesonxx commented on #20
So I'm pretty sure this works. Using 2.12 with that version of state_is_dsb, I can't get the buggered out shader in 10+ game launches, and I got it in just 2 launches on normal 2.12.

I've played a few games and AFAICT there's no regressions caused by this anywhere.

[2017-07-17 03:30] zekesonxx commented on #9
Closing since this got resolved a while ago

[2017-07-17 03:30] #9 closed

[2017-07-17 06:10] zekesonxx opened #21 "Overwatch won't run at all on an Intel GPU"
Overwatch sits around for a bit before popping up with:
![2017-07-17-014554_376x227_scrot](https://user-images.githubusercontent.com/965509/28256678-a6006bbc-6a92-11e7-90cb-6d76d6c003e8.png)
(the text rendering badly is a wholly unrelated issue)

CPU: i7-6600U
GPU: Intel HD Graphics 520
Kernel: 4.11.6
Mesa: 17.1.3

inb4 "maxversiongl": Setting MaxVersionGL to 30002 doesn't change anything, as [exp

[2017-07-17 16:25] gamax92 commented on #20
Alright, I'll add it into the repository, I took a look myself and couldn't find any regressions either.

[2017-07-17 16:52] gamax92 commented on #20
Closed by 6634c835a6774b264e294c6d135f745c8b907a9f

[2017-07-17 16:52] #20 closed

[2017-07-17 20:54] gamax92 commented on #21
@zekesonxx mind testing again with the latest commits? Pushed 9cf07fbc5c34424e8491f075cf2c0bba982f8ac3 to the repo which was preventing nouveau from launching.

[2017-07-17 21:14] zekesonxx commented on #21
@gamax92 retested with e5b254b9684bbb2d54d5ed76aef1abe48b25e926, no change in behavior.

[2017-07-17 21:29] zekesonxx commented on #21
Comparing a log from my laptop (i7-6600U, HD 520) to a log from my desktop (i5-2320, GTX 970), the new lines are:

[code]

[2017-07-17 21:32] gamax92 commented on #21
I can run into the same error forcing mesa to use llvmpipe (which only goes up to GL 3.3), so will try taking a look into the issue.

[2017-07-17 21:44] zekesonxx commented on #21
Out of curiosity, tried using `VideoPciVendorID`/`VideoPciDeviceID` set to a GTX 970 (in case OW was changing behavior based on detected GPU), no changes.

[2017-07-17 23:21] zekesonxx commented on #21
(from irc) the lack of implementation for RDEF and STAT feels like a symptom and not the cause.

@awesie any thoughts?

[2017-07-20 01:21] r-richmond commented on #5
So following @zekesonxx 's tutorial I got to step 12 before receiving

macos 10.12.5 if relevant
ran these before following the guide
[code]

[code]

question for @gamax92 . Is it possible to get the official
`brew install wine` command to install from this repo?
I looked up various commands like `brew install wine head` or `brew install wine --devel` but those appear to be hardcoded  [here](https

[2017-07-20 01:51] r-richmond opened #22 "Struggling to install on MacOs"
So following @zekesonxx 's tutorial in #5 I got to step 12 before receiving

macos 10.12.5 if relevant
ran these before following the guide
[code]

[code]

question for @gamax92 . Is it possible to get the official
`brew install wine` command to install from this repo?
I looked up various commands like `brew install wine head` or `brew install wine --devel` but those appear to be hardcoded  [here]

[2017-07-20 01:52] #5 closed

[2017-07-20 01:53] zekesonxx commented on #5
Closing and locking before this gets derailed again. If you're getting this error you fucked up at doing a multilib Wine build. See previous discussion and the wiki for how to properly do one.

If you're getting a different error don't post here.

[2017-07-20 02:01] zekesonxx commented on #22
There's your problem right there. `SI_KERNEL` is a Linux symbol. The ntdll hooks Overwatch needs are currently only implemented if you're running on a Linux kernel, it won't work on macOS. You could make a macOS-compatible version of those hooks, but there's a slightly bigger problem:

Wine D3D11 running Overwatch needs at *least* OpenGL 4.3, preferably 4.5+. Apple refuses to update OpenGL on macO

[2017-07-20 02:01] #22 closed

[2017-07-20 02:21] zekesonxx commented on #22
@r-richmond out of curiosity (since I don't have a Mac), can you edit `dlls/ntdll/signal_x86_64.c`, change the references from `SI_KERNEL` to `EXC_BREAKPOINT`, and then try compiling? AFAICT that's the equivalent symbol, and I'm curious how far it would get compiling with that change.

[2017-07-20 02:32] r-richmond commented on #22
ahh ok no worries... I was under the impression it would work given the generic read me from wine...
[code]
guess that should be edited out.

and sorry one last question I was under the impression wine 2.12 implements Wine D3D11 ... I was able to run `brew install wine --devel` without error ... so what am i missing?

edit* I'll give that edit a try thanks

[2017-07-20 03:17] r-richmond commented on #22
hmm well it finished compiling but there appears to be a text rendering issue of some sort..

I was able to guess my way through the install screen but now i'm stuck regardless of wether i run the following command from wine32-build or wine64-build

<img width="834" alt="screen shot 2017-07-19 at 8 08 46 pm" src="https://user-images.githubusercontent.com/9246654/28398957-dfc8f732-6cbe-11e7-955c-68

[2017-07-20 06:26] zekesonxx commented on #22
Wow I was *not* expecting a successful compile out of that. That doesn't really prove anything working yet, but it's cool nonetheless.

Just because it compiles doesn't mean it'll *work*. And Wine D3D11's OpenGL needs are based on the D3D11 application it's translating, it's very possible some D3D11 games will work with OpenGL 4.1, but according to Andrew Wesie's notes Overwatch is not one of them

[2017-07-21 04:27] zekesonxx commented on #22
@r-richmond I just did a quick patch that should allow wine-ow to compile out of the box on macOS: https://github.com/zekesonxx/wine-overwatch/tree/macos-compile-fix. I still don't have a Mac, so if you could try that and let me know if it works.

Also, did you get anywhere recompiling with freetype installed?

[2017-07-22 00:20] r-richmond commented on #22
well i'm actually quite confused now as after installing freetype I'm hitting new errors...  I think i need to spend some time figuring out how [brew installs wine](https://github.com/Homebrew/homebrew-core/blob/master/Formula/wine.rb) as it appears to be installing both the 64 & 32...

Anyways in case you're still curious here are my notes
* created super [basic install script](https://gist.githu

[2017-07-22 02:30] zekesonxx commented on #22
It looks like Homebrew does several hacky things to get Wine to compile right.

I think you should be able to use the existing homebrew formula by changing:

[code]

to:

[code]

and then try and install that.

[2017-07-25 17:44] r-richmond commented on #22
Ok, so i spent some time mucking with this and it now installs & compiles wine correctly but I think I may be at a stopping point now.  (Although sooner than expected).

When running the battle.net launcher I get an error 'failed to initialize graphics context' although it seems strange that I would error out here... (perhaps its because of the incompatible changes you mentioned)...

anyways gonna

[2017-07-25 20:29] zekesonxx commented on #22
@r-richmond are you using the instructions on [the appdb page](https://appdb.winehq.org/objectManager.php?iId=28855&sClass=version) for getting bnet to behave? They're written from a Linux perspective but they should still apply on macOS.

[2017-07-28 20:12] zekesonxx opened #23 "Random hard freezes followed by a disconnect on OW 1.13.0.2.38459a (Doomfist)"
Title.

However, I am still running 2.12. Compiling 2.13 now.

New winedebug line, too:
[code]
Doesn't appear to be directly correlated to the freezes, though.

[2017-07-29 07:10] zekesonxx commented on #23
2.13 compiled, tested with that. Works fine.

[2017-07-29 07:10] #23 closed

[2017-07-29 08:11] zekesonxx opened #24 "The stupid black screen glitch"
Overwatch: 1.13.0.2.38459a
Wine-Overwatch: 2.13 commit 148d261

Symptoms:
* No game world or viewmodel
* UI and outlines render
* Freeze upon returning to the main menu

Known causes:
* Killcams. Sometimes.
* Joining a match. Rarely and randomly.
* Recording saved highlights seems to trigger the bug pretty consistently.
  * Example of a broken recording: https://www.youtube.com/watch?v=eqRG6Fm0-vc

[2017-08-05 00:38] zekesonxx commented on #21
@gamax92 could you gist the output of `glxinfo -s` from your nouveau test setup?

[2017-08-08 18:32] Nyamiou commented on #24
I also have the issue sometimes, the freeze upon returning to the main menu is unrelated and also a rare and random issue. This issue appear way less if you are playing with a group (unrelated but the freeze issue never happen if you are playing on a group so having a group is a good workaround for both) and it appear only in quick play when transitionning from a game to the next without returning

[2017-08-08 23:54] Mad-Professor commented on #24
This issue is in kill cam, but if you turn that off, Play of the Game will trigger blackscreen on the next map load.

[2017-08-09 00:29] Mad-Professor commented on #2
Game locks up about 5-10 seconds after returning to home screen.

Reproduce steps:
winecfg set to windows 10 with CSMT and DXVA2 enabled.

Start battlenet and launch Overwatch.
Play single quickplay to the end, at MVP/Stat screen click leave game in the upper right corner, return to home screen, wait about 5-10 seconds, game freezes forcing killall or kill -9 or end process in ksysguard.

`err:ntd

[2017-08-13 06:15] zekesonxx commented on #24
So, I went and did a find.

The black screen glitch lies somewhere with CSMT. With CSMT off, I can't reproduce it with Lucioball scores (0/4 in testing) or Highlight recordings (2 highlights in a row came out correct, which never happened previously).

[2017-08-13 07:48] Mad-Professor commented on #24
I can confirm that turning off CSMT fixes black screen when changing maps after MVP/highlights.

[2017-08-13 14:41] Mad-Professor commented on #2
Ok I think this is related to audio, every time I play solo, and leave game or move back into queue, I do not get sound when I return to the home screen and the game freezes I get the output above. But If I am grouped with friends I always get a sound at the home screen when searching for a game. The game runs stable when grouped with friends as intended.

perhaps you should look closer at this.
t

[2017-08-19 19:03] sambow23 opened #26 "Mouse drag issue"

[2017-08-19 19:05] sambow23 commented on #26
Whenever I switch to XP mode in wine, it causes the mouse to drag whenever I look around. It's been happening to me on multiple linux distros and I have no idea what's causing it.

[2017-08-19 19:06] sambow23 commented on #26
Oddly it works just fine whenever I set the windows version to 7, but the game halts randomly.

[2017-08-19 19:21] sambow23 commented on #26
[Here's a video of what I mean](https://www.youtube.com/watch?v=jnxO2_R5bYs&feature=youtu.be)

[2017-08-19 20:19] sambow23 commented on #26
Well I found a workaround, opening Overwatch from the terminal without the Blizzard App seems work just fine

[2017-08-19 20:20] #26 closed

[2017-08-19 20:29] Paktosan commented on #26
Can you PLEASE just write one comment or edit the first, when commenting in short bursts. Some people, who subscribed to every issue automatically, will get an email for every single comment you write...

[2017-08-19 22:51] sambow23 commented on #26
Yeah sorry, I had some issues on my end and it seemed like I couldn't post anything.

[2017-08-21 09:59] daniel-j commented on #14
I think it has to do with shader compilation.

Try set env `__GL_SHADER_DISK_CACHE` to `1`

The shader cache resides in `~/.nv/`. This might improve the stuttering when you run the game again.

[2017-08-21 12:58] setzer22 commented on #14
I've been doing some testing and I can confirm setting __GL_SHADER_DISK_CACHE to 1 makes the texture cache persistent.

My tests consisted in repeatedly playing the same custom game against bots, restarting the game in-between. Performance was almost stable 100% of the time after 4 or 5 games. As suspected, adding a new hero to the game or changing the map creates more stuttering until the new sha

[2017-08-22 06:33] zekesonxx commented on #14
Shader generation stuttering is an issue with rewriting any recentish graphical API into a modern one. You see it in Dolphin, RPCS3, and Wine. Sadly, barring some incredibly dramatic new technology, you're not going to stop seeing it. Dolphin is lucky since they can overcome it via [Ubershaders](https://dolphin-emu.org/blog/2017/07/30/ubershaders/), which are only even possible because the GC's GP

[2017-08-22 06:47] zekesonxx commented on #14
immediately after finishing that, a thought occurs:

If you wanted to be insane about it, you could build a tool that decrypts OW's data files (or maybe just hooks into OverTool/CASCExplorer, idunno), find all the [0x087 DXBC](https://owdev.wiki/DXBC) files, and somehow make Wine generate and render those shaders so they're all in your GPU driver's shader cache.

I have no idea if that would even

[2017-09-01 12:49] sirus20x6 opened #27 "Golden guns invisible"
wine-overwatch-2.15

All golden guns are invisible. can still see the winking glint over the invisible model.

[2017-09-01 23:39] zekesonxx commented on #27
just to clarify: this has always been the case and has been known for quite a while. I guess I didn't have it in the list on the wiki

[2017-09-01 23:53] sirus20x6 commented on #27
I saw in another post that it was a known issue but it didnt have a listing so I thought it should get one

[2017-09-02 07:24] MegaJiXiang opened #28 "'png.h' file not found"
I tried to build on Mac OSX Sierra 10.12.6 and when I ran .configure it complained about freetype fonts and recommended I try ./configure --without-freetype. So that's what I did. It configured fine then I ran make.

Make failed with this message:
gcc -m32 -c -o cursoricon.o cursoricon.c -I. -I../../include -D__WINESRC__ -D_USER32_ -D_WINABLE_ -D_REENTRANT \
  -fPIC -Wall -pipe -fno-strict-aliasin

[2017-09-02 07:43] MegaJiXiang commented on #28
I got it to get passed that problem by pasting the .h files from libpng version 1.6.32 into the include folder in the base directory of the repo.

[2017-09-02 08:51] MegaJiXiang commented on #28
That fix was bogus. After Googling a bit I found a real solution that worked.

brew uninstall freetype

Seems this works because I already have freetype with x11 or something but having this brew version of freetype confuses the configure process.

It totally builds without that without freetype error now.

[2017-09-02 09:37] MegaJiXiang commented on #28
In the end I still have problems. I give up. At this point it would be cheaper to buy Windows 10 and install it with Bootcamp.

[2017-09-02 09:49] setzer22 commented on #28
Please stick to relevant information in your issue reports. Some of us are subscribed to this repo and are getting emails from each of your comments, and that last comment was totally not constructive.

[2017-09-02 09:49] Paktosan commented on #28
You still could not play Overwatch even if you did managed to build wine properly. Because as far as I know macOS does not support the OpenGL functions required to run Overwatch. Therefore the game wouldn't run anyway.

[2017-09-05 14:38] Thaodan opened #29 "NTDLL anticheat patches"
Can you point out which patches do this stuff so they can be applied to plain wine or staging?

[2017-09-05 17:38] zekesonxx commented on #29
The latest version of the wine-overwatch patches, relative to 2.15-staging, is 692ac4997323a2e2551a0728e90cbd855becb38d.

The patches to `dlls/ntdll` and `tools` should be all the ntdll patches that make up. You'll probably also need the kernel32 patch to get Overwatch to run at all. As far as I know/can tell, the rest of the patches aren't needed to get the game to *run*, but they are needed to g

[2017-09-05 17:38] #29 closed

[2017-09-05 23:36] awesie commented on #29
The relevant files in that commit are dlls/ntdll/* and tools/*. The biggest change is the way the fake NTDLL is constructed. I think there has been some movement in wine-staging to improve the fake DLLs, but I am not sure if it is sufficient.

[2017-09-06 01:42] gamax92 commented on #29
If I remember correctly, the changes wine-staging did for the fake DLLs only applied to the 32bit variants

[2017-09-06 11:15] Scurax opened #30 "Can you make a mac os version?"

[2017-09-06 12:57] Paktosan commented on #30
No, this is currently not possible mainly because the OpenGL version used in macOS is too old. It is not likely that this will change in the near future. Also please read the FAQ first before posting an issue since this was already answered there.

[2017-09-06 12:58] zekesonxx commented on #30
[Q. Will this work on macOS?](https://github.com/gamax92/wine-overwatch/wiki/FAQ#q-will-this-work-on-macos)

TL;DR: unless you want to fund a couple Wine devs for a few months, not anytime soon.

[2017-09-06 14:17] #30 closed

[2017-09-06 15:15] Thaodan commented on #29
Ok, I thought these changes make wow running.
I thought I can only apply these changes to staging to fix wow as the overwatch branch has other issues like this:
https://bugs.winehq.org/show_bug.cgi?id=43641

[2017-09-06 15:50] zekesonxx commented on #29
Yeah I was guessing that.

You certainly could manually apply just the ntdll patches to Wine-Staging and try WoW that way.

[2017-09-06 18:45] gamax92 commented on #29
There's also the overwatch-2.0 branch you can use for WoW, DX9 only though. Reason being the old CSMT patchset that used to only work for DX9 was faster than the current version that works for both DX9 and DX10/11

[2017-09-06 20:50] Thaodan commented on #29
does it have the same issue with the subsurface, ressource thing?

[2017-09-06 22:15] gamax92 commented on #29
That commit is in that branch as well, so yes.

@awesie Thinking this commit is causing issues with WoW: https://bitbucket.org/awesie/wine-overwatch/commits/c218450374b8fd4926ae0403d7fa56ef79b7ddac
And the relevant bug report: https://bugs.winehq.org/show_bug.cgi?id=43641

[2017-09-07 05:12] gamax92 commented on #29
@Thaodan Staging 2.16 now has patches that generates better fake DLLs for 64bit, so I'm assuming that WoW will work normally again without any of the Overwatch patches.

For that matter, Overwatch now boots up on Staging 2.16, albeit with graphics glitches due to no flat interpolation support yet.

[2017-09-09 09:04] sirus20x6 opened #31 "wine-overwatch-2.16 CSMT causes crash soon after getting to menu"
in wine-overwatch-2.16 enabling csmt causes the game to hang soon after logging in. within a second or two.

[2017-09-09 09:05] sirus20x6 opened #32 "wine-overwatch 2.16 audio corruption"
wine-overwatch-2.16 causes the audio to become garbled after a few minutes of play. toggling dolby atmos in sounds settings fixes it for a while.

[2017-09-09 09:55] sigzegv commented on #31
I think I have the same issue, with this error `../../../wine-overwatch/dlls/wined3d-csmt/../wined3d/wined3d_private.h :4417 : wined3d_from_cs:  assertion « cs->thread_id == GetCurrentThreadId() » failed.`

[2017-09-09 18:14] IngeniousDox commented on #32
Are you using Pulseaudio? If so, try setting: PULSE_LATENCY_MSEC=60

[2017-09-09 18:25] IngeniousDox commented on #31
I confirm the crash with 2 different builds of 2.16.

Though, I don't think CSMT is needed atm, at least not for NVidia users that use __GL_THREADED_OPTIMIZATIONS. I got 60 fps on low without issues in 2.16.

[2017-09-09 18:40] sirus20x6 commented on #31
I'm on opensource AMD. Performance isn't terrible, but it also isn't fantastic. although CSMT also increased the number of freezes in previous builds, but i could normally play for about an hour or so without a crash.

[2017-09-09 18:43] sirus20x6 commented on #32
I am and I will give it a try tonight. I should mention that during this time discord continues to have normal audio.

[2017-09-09 18:44] IngeniousDox commented on #31
Have you tried: mesa_glthread: 'true'? I hear good things about it.

[2017-09-09 19:11] sirus20x6 commented on #31
mesa_glthread: 'true' is actually the default now. I have an AMD 290 that's solder unlocked to a 290x and i play at 1600x900. performance is mostly ok but I still get hitching often and sometimes performance seems to be bad without reason and then get better also without reason.

[2017-09-09 19:20] IngeniousDox commented on #31
Most likely culprit is the shader cache, it is empty and it calculates the shaders (which lags you). Then when it is has most shaders for that map / players, your game will run better.

For me with NVidia, the cache can become up to 130mb, so much that I actually had to start setting a shader path to a seperate dir, otherwise there was a chance it got pruned when the total cache reached 256mb. I s

[2017-09-09 21:45] sambow23 opened #33 "Jittery mouse"
So I just installed Overwatch through Lutris, everything works fine except the fact that the mouse jitters when looking around. Any suggestions?

[2017-09-09 22:41] Eignar17 opened #34 "add new patch"
https://github.com/alesliehughes/alesliehughes-wine-staging/tree/master/patches

@gamax92 are you interested in these patches?

[2017-09-09 22:42] gamax92 commented on #31
I ... I swear this was no longer happening, hence why I removed the commit that comments out this assert.

oops?

[2017-09-09 22:45] gamax92 commented on #34
No.

[2017-09-09 22:45] #34 closed

[2017-09-09 22:47] #31 closed

[2017-09-09 23:04] sirus20x6 commented on #32
PULSE_LATENCY_MSEC=60 does not help

[2017-09-10 00:37] IngeniousDox commented on #33
Some suggestions:

- Make sure your resolution and aspect ratio are set correctly ingame.

- Make sure your mouse settings in your desktop are set correctly outside of the game. Esp check various sources of mouse acceleration (https://wiki.archlinux.org/index.php/Mouse_acceleration).

[2017-09-10 03:31] vikrem commented on #21
Exact same issue here.
Seeing same output in the terminal, and getting the same `General Error: 0xE0010160`

Also tried using PlayOnLinux to launch Overwatch using this wine build. Same issue.

glxinfo:
[code]

[2017-09-10 03:54] sambow23 commented on #33
Nope, still broken... But oddly enough, when setting the Blizzard App to Windows XP, the mouse is fine. The problem about that is, Blizzard is removing XP support in later in September/October.

[2017-09-10 09:45] IngeniousDox commented on #33
Check out the wiki: https://github.com/gamax92/wine-overwatch/wiki and read the install instructions.

You need to set battle.net to Win 7, and OW to WinXP. I think most of us have that because of the freezing issues, perhaps your jitter is a remnant of that.

[2017-09-10 09:53] IngeniousDox commented on #32
You can try "30" as value aswell.

But it might be time to try the other crowd favorite then, change: /etc/pulse/daemon.conf

default-fragment-size-msec = 5

That helped in other WOW games, and I seem to have set that already.

[2017-09-10 15:28] sirus20x6 commented on #32
I will try it in a few hours and report back. it's strange that it would work until 2.16 and then have this issue though.

[2017-09-10 16:06] gamax92 commented on #31
Oh well, after getting many reports this is still an issue I've added it back into the repository, rebuild wine.

[2017-09-10 16:50] sirus20x6 commented on #31
there are ways that it seems like it may be the shader cache causing my performance issues like it being worst when there are characters in view. there are also ways in which it does not seem like shader cache such as it not necessarily getting better or worse with time and sometimes I launch the game and it runs perfectly without any lag hitches. either way mesa_glthread: 'true' is not enough to

[2017-09-10 23:33] sambow23 commented on #33
Yeah it is, but why does setting battle.net to windows 7 cause the mouse issue?

[2017-09-13 01:37] sirus20x6 commented on #32
audio corruption is slightly worse with default-fragment-size-msec = 5 when the corruption triggers it's the same as before but now it still has some slight corruption half the time when the main issue hasn't been triggered yet.

[2017-09-22 11:58] Tobi29 opened #35 "GPU crash on amdgpu with radeonsi"
Since updating to 2.17, Overwatch tends to cause a GPU crash (all graphics become unresponsive and eventually dmesg reports stuck syscalls waiting for GPU jobs to complete, running a GPU reset brings the system back alive), specifically almost always when selecting Symmetra in the hero selection (hero gallery appears fine though), although it seems to happen even in some other situations (Cannot r

[2017-09-22 14:32] zekesonxx commented on #35
Run the game directly with `wine64 "C:\\Program Files (x86)\\Overwatch\\Overwatch.exe" 2>&1 >/dev/null | tee "ow-$(date +%s).log"`. This will log all the WINEDEBUG output to a file. Get it to crash, then compress the log and upload it.

[2017-09-22 16:15] roboso commented on #35
nvidia 970 driver version 381.26.13

fixme:d3d:wined3d_stream_info_from_declaration Instance step rate 0 not implemented.
fixme:d3d:wined3d_stream_info_from_declaration Instance step rate 0 not implemented.
fixme:d3d:wined3d_stream_info_from_declaration Instance step rate 0 not implemented.
fixme:d3d:wined3d_stream_info_from_declaration Instance step rate 0 not implemented.
fixme:d3d:wined3d_strea

[2017-09-22 16:16] Tobi29 commented on #35
[Here's](https://gist.github.com/Tobi29/eb14059be191de556bca5619021c5d8f/raw/f847676ac6b0f87069762ca79af0eab8a0ac63ff/ow-1506095752.log.gz) a log of it freezing the frame the Symmetra model would have loaded, however as I mentioned the log contains nothing special at the end, so no idea if it is any helpful. (There are periodic messages between a single line being spammed, which can look identical

[2017-09-22 17:12] zekesonxx commented on #35
@roboso That is a game crash, not a GPU driver crash. If you're having problems please open a separate issue.

[2017-09-22 17:30] zekesonxx commented on #35
@Tobi29 well you're certainly right in that the winedebug log doesn't appear to hold anything useful. It's just doing it's normal thing (which is to say whining endlessly) right up until the end.

If you can reproduce the issue on vanilla Wine-Staging 2.17 (which you should be able to since wine-ow 2.17 is just the FlashWindowEx patch on top of wine-staging 2.17), I would report this to the [Wine

[2017-09-22 18:31] roboso opened #36 "game crash"
[ow-1506096360.log.tar.gz](https://github.com/gamax92/wine-overwatch/files/1325481/ow-1506096360.log.tar.gz)

[2017-09-25 15:14] Amosar commented on #24
I have test with overwatch-2.17 and CSMT enabled the black screen seems fixed for me

[2017-09-25 21:09] zekesonxx commented on #24
@Amosar you may just be correct.

I've just gotten 4 successful highlight recordings in a row with wine-ow 2.17 and CSMT on. There doesn't appear to be any way to play Lucioball at the moment, which is annoying because that was a guaranteed cause of the black screen glitch.

I'm going to play with CSMT on and killcams on and see if I can trigger the glitch at all. I'd encourage anyone who wants to

[2017-09-25 22:14] Amosar commented on #24
I have played several games with killcam and CSMT activated and the black screen never appeared for me

[2017-09-26 02:22] sambow23 opened #37 "Not able to sign into Blizzard App"
I just reinstalled Arch Linux two times for good measures, but whenever you install and then launch the Blizzard App, it shows the normal login screen, but there is no way to actually log in...
[Image](https://i.imgur.com/qtSxoTR.png)

[2017-09-26 02:24] gamax92 commented on #37
What Windows version do you have wine set to in winecfg?

[2017-09-26 02:25] sambow23 commented on #37
Windows 10, I also tried XP, does the same thing.

[2017-09-26 02:28] gamax92 commented on #37
Not sure, I can get the glitched version where the top don't work but the bottom prompts do.
![glitch](https://user-images.githubusercontent.com/815145/30839561-f1f5ccfe-a22f-11e7-8bbb-f5a356389316.png)

[2017-09-26 02:29] sambow23 commented on #37
Yeah I see what you're talking about, I was trying to get that one to pop up, but it seems luck has failed on me. I'll see if I can get into it

[2017-09-26 02:32] gamax92 commented on #37
You can try purging the wine ie cache at `~/.wine/drive_c/users/$USER/Local\ Settings/Temporary\ Internet\ Files/`

[2017-09-26 02:37] sambow23 commented on #37
I don't have a local in that directory. But apparently I can actually get in without logging in, and I can install Overwatch. But wouldn't I need to be logged into the Blizzard App for me to launch it?

[2017-09-26 02:40] gamax92 commented on #37
If you launch Overwatch directly, it will just ask you to login in game.

[2017-09-26 02:42] sambow23 commented on #37
Ah I see, sorry for the dumb question. :)

[2017-09-26 02:44] #37 closed

[2017-09-26 16:40] zekesonxx commented on #36
You're right, that is a game crash.

What wine-ow version were you using? Were you doing anything in particular when it occurred? Can you reproduce the circumstances of the crash?

[2017-09-27 21:44] roboso commented on #36
wine staging 2.17 wine-ow branc master

[2017-09-27 21:45] roboso opened #38 "no friends list"
hello, i do not know but the friends list does not work. Why?

[2017-09-28 20:55] roboso commented on #36
with the new ow no more crash update yet, but I do not see the list of my friends.

[2017-09-29 08:51] #36 closed

[2017-09-29 08:52] zekesonxx commented on #38
Can you define "does not work"?

[2017-09-29 09:19] roboso commented on #38
![nofriends](https://user-images.githubusercontent.com/6564204/31009461-d864120c-a507-11e7-8982-4afc8291f923.png)
my friends list is empty.
but I think he does not log me into my region, eu. The game should also be in Italian, but it is in English.

[2017-09-29 09:41] zekesonxx commented on #38
Did you select the right region and language in Battle.net?

[2017-09-29 09:46] roboso commented on #38
yes run battle.net same problem.

[2017-09-29 16:31] d3rrial opened #39 "LoD black ground textures (World of Warcraft x64)"
With the newest build on x64 with the freetype patch applied https://source.winehq.org/git/wine.git/?a=commit;h=d82321006de92dcd74465c905121618a76eae76a the ground seems to be uniformely #000000 in color, except when its outside of the high detail drawing range, as soon as lower resolution textures are loaded, the ground is normally textured.

Works flawlessly with your 2.16 build, just doesn't wo

[2017-09-30 00:05] zekesonxx commented on #39
The only patch wine-ow has now is a fixed FlashWindowEx, which wouldn't affect this at all. Since this isn't about our patch or Overwatch, I'm closing this.

You should open a Wine issue about this, they're the correct people to talk to: https://bugs.winehq.org/

[2017-09-30 00:05] #39 closed

[2017-10-01 00:16] sirus20x6 commented on #38
not just running battle.net you have to select from the region / account above the play button. i think you want europe

[2017-10-02 05:34] Cpont63 commented on #21
I also have this same issue, please help.